@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.display-flex {
    display: flex;
}
span {
    color: red;
}
.btn-primary {
    background-color: #ff900e;
    color: white;
    padding: 20px 24px;
    font-size: 1.25rem;
    font-weight: 400;
    border-radius: 5px;
    border: none;
}

/* dark 02 */
.text-gray {
    color: #424242;
}

/* dark 03 */

.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}
/* header styles */


/* navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: 700;
    font-size: 3rem;
}
.nav-link {
    text-decoration: none;
    font-weight: 500;
}
.nav-items {
    list-style: none;
    margin-right: 30px;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.banner-content {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title {
    font-size: 4rem;
}
.banner-image {
    width: 100%;
}

/* Responsive Related Styles */
@media screen and (max-width: 576px) {
    .navbar, .nav-link {
        flex-direction: column;
    }
    
}