@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.display-flex {
    display: flex;
}
/* span {
    color: #ff900e;
} */
.span-2 {
    color: rgb(8, 8, 8);
}
.span-3 {
    color: #ff900e;
}
.btn-primary {
    background-color: #ff900e;
    color: white;
    padding: 20px 24px;
    font-size: 1.25rem;
    font-weight: 400;
    border-radius: 5px;
    border: none;
}

/* dark 02 */
.text-gray {
    color: #424242;
}

/* dark 03 */

.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}
/* header styles */


/* navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: 700;
    font-size: 3rem;
}
.nav-link {
    text-decoration: none;
    font-weight: 500;
}
.nav-items {
    list-style: none;
    margin-right: 30px;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.banner-content {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title {
    font-size: 4rem;
}
.banner-image {
    width: 100%;
}

/* Team and Feature Related Styles */
.teams {
    align-items: center;
}
.team-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}
main> section {
    margin-top: 130px;
}
.our-features {
    margin-left: 130px;
    max-width: 500px;
}

.feature-title {
    font-size: 2.8rem;
    color: #727272;
}
/* fact related style */

.fact-section {
    display: flex;
    font-size: 2.8rem;
    color: #727272;
    margin-bottom: 20px;
    justify-content: center;
}
.fact-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}
.fact-card {
    border: 1px solid #ff900e;
    width: 240px;
    height: 240px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;

}

.fact-description {
    display: flex;
    max-width: 950px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Sponsors related styles */
.sponsors-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsors-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* Responsive Related Styles */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-link,
    .teams {
        flex-direction: column;
    }
    .team-image-container, .fact-container {
        grid-template-columns:repeat(1, 1fr);
    }   
    .fact-container {
        gap: 24px;
    }
}


/* medium size device */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams {
        flex-direction: column;
    }
    
}